#header + #content > #left > #rlblock_left {
   display: none !important;
}

#content > {
   #right > .dose > .dosesingle,
   #center > .dose > .dosesingle {
      display: none !important;
   }
}

html {
   font-family: Arial, Helvetica, sans-serif;
   color: #000;
   font-size: 14px;
   margin: 0;
   padding: 0;
   height: 100%;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   color: #000;
   font-size: 14px;
   margin: 0;
   padding: 0;
   height: 100%;
   background: url('/img/logo/logofon.jpg') repeat fixed center center #fff;
}

ul,
p,
h1,
h2,
li {
   margin: 0;
   padding: 0;
}

td {
   vertical-align: top;
}

h1 {
   font-family: Arial;
   color: #000;
   font-size: 18px;
   font-weight: normal;
   margin: 20px 0 10px;
   padding: 0 0 10px;
}

h2 {
   font-family: Arial;
   color: #000;
   font-size: 18px;
   font-weight: normal;
   margin: 20px 0 10px;
   padding: 0 0 10px;
   margin: 25px 0;
   font-size: 18px;
   padding: 0;
   color: #090;
   text-align: left;
}

h3 {
   font-size: 14px;
   font-weight: normal;
}

p,
div,
a,
font,
span,
ul,
li,
input,
textarea {
   color: #000;
   font-family: Arial;
   font-size: 14px;
   border: 0;
}

p {
   line-height: 20px;
   margin: 0 0 20px;
}

img {
   border: 0 none;
}

a {
   color: #000;
   text-decoration: underline;
   &:hover {
      text-decoration: none;
   }
}

#controls {
   top: 485px;
   float: left;
   padding: 0 20px 0;
   margin: -31px 0 0;
   li {
      text-indent: -9999px;
      background: url('/i/controls.png') repeat scroll -113px -14px rgba(0, 0, 0, 0);
      width: 14px;
      height: 15px;
      list-style-type: none;
      float: left;
      &.current {
         background: url('/i/controls.png') repeat scroll -92px -14px rgba(0, 0, 0, 0);
      }
      &:hover {
         cursor: pointer;
         cursor: hand;
      }
   }
}

#prevBtn a,
#nextBtn a {
   position: absolute;
   background: url('/i/nav.png');
   width: 29px;
   height: 58px;
   display: block;
   top: 300px;
   text-indent: -999px;
   overflow: hidden;
}

#prevBtn a {
   margin: 0 0 0 -69px;
   background-position: top left;
}

#nextBtn a {
   margin: 0 0 0 1030px;
   background-position: top right;
}

#prevBtn a:hover {
   background-position: bottom left;
}

#nextBtn a:hover {
   background-position: bottom right;
}

.flash_icons {
   float: left;
   margin: 6px 0 0;
}

.footer {
   vertical-align: bottom;
   border-top: 1px dashed #000;
}

#footer {
   margin: 38px 0 30px;
   width: 990px;
   height: 100px;
}

#foot_l {
   width: 300px;
   float: left;
}

#foot_c {
   width: 330px;
   float: left;
   margin: 0 0 0 60px;
}

#foot_r {
   float: right;
   width: 245px;
   a {
      display: block;
      width: 235px;
      padding: 16px 0 0;
      white-space: nowrap;
      clear: both;
   }
}

#header {
   margin: 20px 0 22px;
   width: 990px;
   height: 96px;
   position: relative;
   a img#logo {
      float: left;
      margin: 8px 0 0;
   }
}

#main {
   height: 100%;
   width: 990px;
   margin: 0 auto;
   display: block;
}

#menu_bt {
   margin: 0 0 15px;
   display: block;
   li {
      display: inline-block;
      margin: 0 2px;
      padding: 0;
      position: relative;
      &:after {
        content: '/';
        position: absolute;
        top: 0;
        right: -6px;
      }
      &:last-child {
        &:after{
          display: none;
        }
      }
   }
}

#menumid {
   width: 993px;
   overflow: auto;
   li {
      width: 330px;
      float: left;
      height: 77px;
      border-right: 1px solid #fff;
      list-style-type: none;
      a {
         width: 329px;
         height: 51px;
         background: url('/i/submenu_bg.png') repeat-x;
         display: block;
         color: #0c497f;
         font-size: 18px;
         line-height: 18px;
         padding: 26px 0 0;
         text-decoration: none;
         text-align: center;
         padding: 25px 0 0;
         &:hover {
            background: url('/i/submenu1_bg.png') repeat-x;
         }
      }
      &.red_li {
         background: #e0f5c2;
      }
      a.double {
         padding: 20px 0 0;
         height: 57px;
      }
   }
}

#right_head {
   width: 753px;
   float: right;
   span {
      &#title {
         margin: -4px 60px 0;
         font-size: 16px;
         font-family: 'Times New Roman', Times, serif;
         color: #000;
         font-style: italic;
         text-align: right;
         display: block;
         float: left;
         line-height: 18px;
         width: 485px;
      }
      &.tel {
         text-align: right;
         float: right;
         display: block;
         font-size: 18px;
         color: #090;
         line-height: 18px;
      }
   }
}

#footer #foot_r span {
   &.tel {
      text-align: right;
      float: right;
      display: block;
      font-size: 18px;
      color: #000;
      line-height: 18px;
   }
   a {
      width: 150px;
      font-size: 18px;
      padding: 0;
      margin: 0;
      line-height: 18px;
   }
   &.tel {
      width: 150px;
   }
}

#right_head ul#menu {
   display: block;
   border-top: 1px solid #000;
   border-bottom: 1px solid #000;
   height: 40px;
   position: absolute;
   left: 50%;
   margin: 0 0 0 -263px;
   top: 70px;
   li {
      float: left;
      height: 40px;
      border-right: 1px solid #fff;
      list-style-type: none;
      a {
         display: block;
         text-align: center;
         padding: 12px 8px 12px 8px;
         color: #000;
         text-decoration: none;
         &:hover {
            background: #eaedef;
         }
         &.act {
            background: #e0f5c2;
         }
      }
      &.red_li a {
         background: #e0f5c2;
      }
   }
}

#sc {
   img {
      float: left;
      margin: 0 10px 0 0;
   }
   a span {
      display: block;
      float: left;
      margin: 10px 0 0;
      text-decoration: underline;
      width: 100px;
   }
}

#slider {
   width: 990px;
   height: 389px;
   overflow: hidden;
   li {
      list-style-type: none;
      height: 389px;
      div {
         height: 0;
         left: 0;
         margin: 0;
         position: relative;
         top: 0;
         div {
            width: 300px;
            height: 349px;
            position: absolute;
            background: url('/i/slider_bg.png');
            padding: 20px;
            left: 650px;
         }
      }
   }
   span {
      &#name {
         color: #090;
         font-size: 18px;
         width: 220px;
         display: block;
         margin: 0 0 20px;
      }
      &#desc {
         color: #000;
         font-size: 14px;
         p a {
            text-align: right;
         }
      }
   }
}

#title p {
   margin: 0;
   padding: 0;
   font-size: 12px;
   text-align: left;
}

/******************* carousel ***********************/

.carousel_auter {
   padding: 0 10px;
   clear: both;
   position: relative;
   overflow: hidden;
   width: 970px;
   h2 {
      border-bottom: 1px dotted #090;
      width: auto;
      padding: 0 0 7px 0;
      margin: 40px 0 0 0;
   }
   li {
      margin: 0 10px;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      &:hover {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }
   }
}
#carousel {
   padding-top: 30px;
   margin: 0 5px;
   z-index: 1;
   left: 0;
   overflow: hidden;
   height: 89px;
   border-bottom: 1px dotted #090;
   ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      list-style-type: none;
   }
   li {
      overflow: hidden;
      float: left;
      display: inline;
      background: #fff;
      a {
         float: left;
         overflow: hidden;
         &:hover img {
            border-color: #cc91c0;
         }
      }
   }
   .but_left {
      left: 0;
      position: absolute;
      z-index: 100;
      border: 7px solid #fff;
      border-top-width: 0;
      border-bottom-width: 0;
      border-left-width: 2px;
      cursor: pointer;
      background: #fff url(/img/carousel_str.png) 0 23px repeat-x;
      width: 8px;
      height: 60px;
   }
   .but_right {
      left: 0;
      position: absolute;
      z-index: 100;
      border: 7px solid #fff;
      border-top-width: 0;
      border-bottom-width: 0;
      border-left-width: 2px;
      cursor: pointer;
      background: #fff url(/img/carousel_str.png) 0 23px repeat-x;
      width: 8px;
      height: 60px;
      right: 0;
      left: auto;
      background-position: 8px 23px;
      border-left-width: 7px;
      border-right-width: 2px;
   }
   .but_left:hover {
      background-position: 0 -77px;
   }
   .but_right:hover {
      background-position: 8px -77px;
   }
}

/****************************************************/

#jquery-overlay {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 90;
   width: 100%;
   height: 500px;
}

#jquery-lightbox {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;
   text-align: center;
   line-height: 0;
   a img {
      border: none;
   }
}

#lightbox-container-image-box-top {
   width: 100%;
}

#lightbox-container-image-box-top-left {
   width: 10%;
   height: 1px;
   position: relative;
   margin: 0 auto;
   float: left;
   z-index: 10;
   display: inline;
   text-align: left;
}

#lightbox-container-image-box-top-middle {
   width: 80%;
   padding-top: 5px;
   height: 5px;
   position: relative;
   margin: 0 auto 0 0;
   float: left;
   z-index: 5;
   display: inline;
   div.progress {
      width: 80%;
      padding-top: 5px;
      height: 5px;
      position: relative;
      margin: 0 auto 0 0;
      float: left;
      background-color: #e4e4e4;
      z-index: 5;
      display: inline;
   }
}

#lightbox-container-image-box-top-right {
   width: 10%;
   height: 1px;
   position: relative;
   margin: 0 auto;
   float: right;
   text-align: right;
   z-index: 10;
   display: inline;
}

#lightbox-container-image-box {
   position: relative;
   background-color: #fff;
   width: 250px;
   height: 250px;
   margin: 0 auto;
}

#lightbox-container-image {
   height: 100%;
   padding: 10px;
}

#lightbox-loading {
   position: absolute;
   top: 40%;
   left: 0;
   height: 25%;
   width: 100%;
   text-align: center;
   line-height: 0;
}

#lightbox-nav {
   position: absolute;
   top: 32px;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 10;
}

#lightbox-container-image-box > #lightbox-nav {
   left: 0;
}

#lightbox-nav a {
   outline: none;
}

#lightbox-nav-btnPrev,
#lightbox-nav-btnNext {
   width: 49%;
   height: 100%;
   zoom: 1;
   display: block;
}

#lightbox-nav-btnPrev {
   left: 0;
   float: left;
}

#lightbox-nav-btnNext {
   right: 0;
   float: right;
}

#lightbox-container-image-data-box {
   font: 10px Verdana, Helvetica, sans-serif;
   background-color: #fff;
   margin: 0 auto;
   line-height: 1.4em;
   overflow: auto;
   width: 100%;
   padding: 0 10px 0;
   text-align: left;
}

#lightbox-container-image-data #lightbox-image-details {
   width: 70%;
   float: left;
   text-align: left;
}

#lightbox-image-details-caption {
   font-weight: bold;
   display: block;
   height: 25px;
   line-height: 25px;
   vertical-align: middle;
}

#lightbox-image-details-currentNumber {
   display: block;
   clear: left;
   padding-bottom: 1.0em;
   display: inline;
   height: 16px;
   line-height: 16px;
   vertical-align: middle;
}

#lightbox-image-details-previous-image,
#lightbox-image-details-previous-text,
#lightbox-image-details-next-image,
#lightbox-image-details-next-text {
   display: inline;
   height: 25px;
   line-height: 25px;
   vertical-align: middle;
   cursor: pointer;
   cursor: hand;
}
/* works */ 
.logo {
  display: block;
  width: 219px;
  height: 81px;
  position: absolute;
  top: 5px;
  left: 0;
  top: 0;
}