#header + #content > #left > #rlblock_left {
   display: none !important;
}

#content > {
   #right > .dose > .dosesingle,
   #center > .dose > .dosesingle {
      display: none !important;
   }
}

.carousel_auter {
   padding: 0 10px;
   clear: both;
   position: relative;
   overflow: hidden;
   width: 970px;
   h2 {
      border-bottom: 1px dotted #090;
      width: auto;
      padding: 0 0 7px 0;
      margin: 40px 0 0 0;
   }
}

#carousel {
   padding-top: 30px;
   margin: 0 5px;
   z-index: 1;
   left: 0;
   overflow: hidden;
   height: 89px;
   border-bottom: 1px dotted #090;
   ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      list-style-type: none;
   }
   li {
      overflow: hidden;
      float: left;
      display: inline;
      background: #fff;
      a {
         float: left;
         overflow: hidden;
         &:hover img {
            border-color: #cc91c0;
         }
      }
   }
   .but_left {
      left: 0;
      position: absolute;
      z-index: 100;
      border: 7px solid #fff;
      border-top-width: 0;
      border-bottom-width: 0;
      border-left-width: 2px;
      cursor: pointer;
      background: #fff url(/img/carousel_str.png) 0 23px repeat-x;
      width: 8px;
      height: 60px;
   }
   .but_right {
      left: 0;
      position: absolute;
      z-index: 100;
      border: 7px solid #fff;
      border-top-width: 0;
      border-bottom-width: 0;
      border-left-width: 2px;
      cursor: pointer;
      background: #fff url(/img/carousel_str.png) 0 23px repeat-x;
      width: 8px;
      height: 60px;
      right: 0;
      left: auto;
      background-position: 8px 23px;
      border-left-width: 7px;
      border-right-width: 2px;
   }
   .but_left:hover {
      background-position: 0 -77px;
   }
   .but_right:hover {
      background-position: 8px -77px;
   }
}

html {
   font-family: Arial, Helvetica, sans-serif;
   color: #000;
   font-size: 14px;
   margin: 0;
   padding: 0;
   height: 100%;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   color: #000;
   font-size: 14px;
   margin: 0;
   padding: 0;
   height: 100%;
   background: url('/img/logo/logofon.jpg') repeat fixed center center #fff;
}

ul,
p,
h1,
h2,
li {
   margin: 0;
   padding: 0;
}

td {
   vertical-align: top;
}

h1 {
   font-family: Arial;
   color: #000;
   font-size: 18px;
   font-weight: normal;
   margin: 20px 0 10px;
   padding: 0 0 10px;
}

h2 {
   font-family: Arial;
   color: #000;
   font-size: 18px;
   font-weight: normal;
   margin: 20px 0 10px;
   padding: 0 0 10px;
   margin: 25px 0;
   font-size: 18px;
   padding: 0;
   color: #090;
   text-align: left;
}

h3 {
   font-size: 14px;
   font-weight: normal;
}

p,
div,
a,
font,
span,
ul,
li,
input,
textarea {
   color: #000;
   font-family: Arial;
   font-size: 14px;
   border: 0;
}

p {
   line-height: 20px;
   margin: 0 0 20px;
}

img {
   border: 0 none;
}

a {
   color: #000;
   text-decoration: underline;
   &:hover {
      text-decoration: none;
   }
}

#controls {
   top: 485px;
   float: left;
   padding: 0 20px 0;
   margin: -31px 0 0;
   li {
      text-indent: -9999px;
      background: url('/i/controls.png') repeat scroll -113px -14px rgba(0, 0, 0, 0);
      width: 14px;
      height: 15px;
      list-style-type: none;
      float: left;
      &.current {
         background: url('/i/controls.png') repeat scroll -92px -14px rgba(0, 0, 0, 0);
      }
      &:hover {
         cursor: pointer;
         cursor: hand;
      }
   }
}

#prevBtn a,
#nextBtn a {
   position: absolute;
   background: url('/i/nav.png');
   width: 29px;
   height: 58px;
   display: block;
   top: 300px;
   text-indent: -999px;
   overflow: hidden;
}

#prevBtn a {
   margin: 0 0 0 -69px;
   background-position: top left;
}

#nextBtn a {
   margin: 0 0 0 1030px;
   background-position: top right;
}

#prevBtn a:hover {
   background-position: bottom left;
}

#nextBtn a:hover {
   background-position: bottom right;
}

.flash_icons {
   float: left;
   margin: 6px 0 0;
}

.footer {
   vertical-align: bottom;
   border-top: 1px dashed #000;
}

#footer {
   margin: 38px 0 30px;
   width: 990px;
   height: 100px;
}

#foot_l {
   width: 300px;
   float: left;
}

#foot_c {
   width: 330px;
   float: left;
   margin: 0 0 0 60px;
}

#foot_r {
   float: right;
   width: 245px;
   a {
      display: block;
      width: 235px;
      padding: 16px 0 0;
      white-space: nowrap;
      clear: both;
   }
}

#header {
   margin: 20px 0 22px;
   width: 990px;
   height: 96px;
   a img#logo {
      float: left;
      margin: 8px 0 0;
   }
}

#main {
   height: 100%;
   width: 990px;
   margin: 0 auto;
   display: block;
}

#menu_bt {
   margin: 0 0 15px;
}

#menumid {
   width: 993px;
   overflow: auto;
   li {
      width: 330px;
      float: left;
      height: 77px;
      border-right: 1px solid #fff;
      list-style-type: none;
      a {
         width: 329px;
         height: 51px;
         background: url('/i/submenu_bg.png') repeat-x;
         display: block;
         color: #0c497f;
         font-size: 18px;
         line-height: 18px;
         padding: 26px 0 0;
         text-decoration: none;
         text-align: center;
         padding: 25px 0 0;
         &:hover {
            background: url('/i/submenu1_bg.png') repeat-x;
         }
      }
      &.red_li {
         background: #e0f5c2;
      }
      a.double {
         padding: 20px 0 0;
         height: 57px;
      }
   }
}

#right_head {
   width: 753px;
   float: right;
   span {
      &#title {
         margin: -4px 60px 0;
         font-size: 16px;
         font-family: 'Times New Roman', Times, serif;
         color: #000;
         font-style: italic;
         text-align: right;
         display: block;
         float: left;
         line-height: 18px;
         width: 485px;
      }
      &.tel {
         text-align: right;
         float: right;
         display: block;
         font-size: 18px;
         color: #090;
         line-height: 18px;
      }
   }
}

#footer #foot_r span {
   &.tel {
      text-align: right;
      float: right;
      display: block;
      font-size: 18px;
      color: #000;
      line-height: 18px;
   }
   a {
      width: 150px;
      font-size: 18px;
      padding: 0;
      margin: 0;
      line-height: 18px;
   }
   &.tel {
      width: 150px;
   }
}

#right_head ul#menu {
   display: block;
   border-top: 1px solid #000;
   border-bottom: 1px solid #000;
   height: 40px;
   position: absolute;
   left: 50%;
   margin: 0 0 0 -263px;
   top: 70px;
   li {
      float: left;
      height: 40px;
      border-right: 1px solid #fff;
      list-style-type: none;
      a {
         display: block;
         text-align: center;
         padding: 12px 8px 12px 8px;
         color: #000;
         text-decoration: none;
         &:hover {
            background: #eaedef;
         }
         &.act {
            background: #e0f5c2;
         }
      }
      &.red_li a {
         background: #e0f5c2;
      }
   }
}

#sc {
   img {
      float: left;
      margin: 0 10px 0 0;
   }
   a span {
      display: block;
      float: left;
      margin: 10px 0 0;
      text-decoration: underline;
      width: 100px;
   }
}

#slider {
   width: 990px;
   height: 389px;
   overflow: hidden;
   li {
      list-style-type: none;
      height: 389px;
      div {
         height: 0;
         left: 0;
         margin: 0;
         position: relative;
         top: 0;
         div {
            width: 300px;
            height: 349px;
            position: absolute;
            background: url('/i/slider_bg.png');
            padding: 20px;
            left: 650px;
         }
      }
   }
   span {
      &#name {
         color: #090;
         font-size: 18px;
         width: 220px;
         display: block;
         margin: 0 0 20px;
      }
      &#desc {
         color: #000;
         font-size: 14px;
         p a {
            text-align: right;
         }
      }
   }
}

#title p {
   margin: 0;
   padding: 0;
   font-size: 12px;
   text-align: left;
}

#jquery-overlay {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 90;
   width: 100%;
   height: 500px;
}

#jquery-lightbox {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;
   text-align: center;
   line-height: 0;
   a img {
      border: none;
   }
}

#lightbox-container-image-box-top {
   width: 100%;
}

#lightbox-container-image-box-top-left {
   width: 10%;
   height: 1px;
   position: relative;
   margin: 0 auto;
   float: left;
   z-index: 10;
   display: inline;
   text-align: left;
}

#lightbox-container-image-box-top-middle {
   width: 80%;
   padding-top: 5px;
   height: 5px;
   position: relative;
   margin: 0 auto 0 0;
   float: left;
   z-index: 5;
   display: inline;
   div.progress {
      width: 80%;
      padding-top: 5px;
      height: 5px;
      position: relative;
      margin: 0 auto 0 0;
      float: left;
      background-color: #e4e4e4;
      z-index: 5;
      display: inline;
   }
}

#lightbox-container-image-box-top-right {
   width: 10%;
   height: 1px;
   position: relative;
   margin: 0 auto;
   float: right;
   text-align: right;
   z-index: 10;
   display: inline;
}

#lightbox-container-image-box {
   position: relative;
   background-color: #fff;
   width: 250px;
   height: 250px;
   margin: 0 auto;
}

#lightbox-container-image {
   height: 100%;
   padding: 10px;
}

#lightbox-loading {
   position: absolute;
   top: 40%;
   left: 0;
   height: 25%;
   width: 100%;
   text-align: center;
   line-height: 0;
}

#lightbox-nav {
   position: absolute;
   top: 32px;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 10;
}

#lightbox-container-image-box > #lightbox-nav {
   left: 0;
}

#lightbox-nav a {
   outline: none;
}

#lightbox-nav-btnPrev,
#lightbox-nav-btnNext {
   width: 49%;
   height: 100%;
   zoom: 1;
   display: block;
}

#lightbox-nav-btnPrev {
   left: 0;
   float: left;
}

#lightbox-nav-btnNext {
   right: 0;
   float: right;
}

#lightbox-container-image-data-box {
   font: 10px Verdana, Helvetica, sans-serif;
   background-color: #fff;
   margin: 0 auto;
   line-height: 1.4em;
   overflow: auto;
   width: 100%;
   padding: 0 10px 0;
   text-align: left;
}

#lightbox-container-image-data #lightbox-image-details {
   width: 70%;
   float: left;
   text-align: left;
}

#lightbox-image-details-caption {
   font-weight: bold;
   display: block;
   height: 25px;
   line-height: 25px;
   vertical-align: middle;
}

#lightbox-image-details-currentNumber {
   display: block;
   clear: left;
   padding-bottom: 1.0em;
   display: inline;
   height: 16px;
   line-height: 16px;
   vertical-align: middle;
}

#lightbox-image-details-previous-image,
#lightbox-image-details-previous-text,
#lightbox-image-details-next-image,
#lightbox-image-details-next-text {
   display: inline;
   height: 25px;
   line-height: 25px;
   vertical-align: middle;
   cursor: pointer;
   cursor: hand;
}

#fancybox-loading {
   position: fixed;
   top: 50%;
   left: 50%;
   width: 40px;
   height: 40px;
   margin-top: -20px;
   margin-left: -20px;
   cursor: pointer;
   overflow: hidden;
   z-index: 1104;
   display: none;
   div {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 480px;
      background-image: url('fancybox.png');
   }
}

#fancybox-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1100;
   display: none;
}

#fancybox-tmp {
   padding: 0;
   margin: 0;
   border: 0;
   overflow: auto;
   display: none;
}

#fancybox-wrap {
   position: absolute;
   top: 0;
   left: 0;
   padding: 20px;
   z-index: 1101;
   outline: none;
   display: none;
}

#fancybox-outer {
   position: relative;
   width: 100%;
   height: 100%;
   background: #fff;
}

#fancybox-content {
   width: 0;
   height: 0;
   padding: 0;
   outline: none;
   position: relative;
   overflow: hidden;
   z-index: 1102;
   border: 0 solid #fff;
}

#fancybox-hide-sel-frame {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: transparent;
   z-index: 1101;
}

#fancybox-close {
   position: absolute;
   top: -15px;
   right: -15px;
   width: 30px;
   height: 30px;
   background: transparent url('fancybox.png') -40px 0;
   cursor: pointer;
   z-index: 1103;
   display: none;
}

#fancybox-error {
   color: #444;
   font: normal 12px/20px Arial;
   padding: 14px;
   margin: 0;
}

#fancybox-img {
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
   border: none;
   outline: none;
   line-height: 0;
   vertical-align: top;
}

#fancybox-frame {
   width: 100%;
   height: 100%;
   border: none;
   display: block;
}

#fancybox-left,
#fancybox-right {
   position: absolute;
   bottom: 0;
   height: 100%;
   width: 35%;
   cursor: pointer;
   outline: none;
   background: transparent url('blank.gif');
   z-index: 1102;
   display: none;
}

#fancybox-left {
   left: 0;
}

#fancybox-right {
   right: 0;
}

#fancybox-left-ico,
#fancybox-right-ico {
   position: absolute;
   top: 50%;
   left: -9999px;
   width: 30px;
   height: 30px;
   margin-top: -15px;
   cursor: pointer;
   z-index: 1102;
   display: block;
}

#fancybox-left-ico {
   background-image: url('fancybox.png');
   background-position: -40px -30px;
}

#fancybox-right-ico {
   background-image: url('fancybox.png');
   background-position: -40px -60px;
}

#fancybox-left:hover,
#fancybox-right:hover {
   visibility: visible;
   /* IE6 */
}

#fancybox-left:hover span {
   left: 20px;
}

#fancybox-right:hover span {
   left: auto;
   right: 20px;
}

.fancybox-bg {
   position: absolute;
   padding: 0;
   margin: 0;
   border: 0;
   width: 20px;
   height: 20px;
   z-index: 1001;
}

#fancybox-bg-n {
   top: -20px;
   left: 0;
   width: 100%;
   background-image: url('fancybox-x.png');
}

#fancybox-bg-ne {
   top: -20px;
   right: -20px;
   background-image: url('fancybox.png');
   background-position: -40px -162px;
}

#fancybox-bg-e {
   top: 0;
   right: -20px;
   height: 100%;
   background-image: url('fancybox-y.png');
   background-position: -20px 0;
}

#fancybox-bg-se {
   bottom: -20px;
   right: -20px;
   background-image: url('fancybox.png');
   background-position: -40px -182px;
}

#fancybox-bg-s {
   bottom: -20px;
   left: 0;
   width: 100%;
   background-image: url('fancybox-x.png');
   background-position: 0 -20px;
}

#fancybox-bg-sw {
   bottom: -20px;
   left: -20px;
   background-image: url('fancybox.png');
   background-position: -40px -142px;
}

#fancybox-bg-w {
   top: 0;
   left: -20px;
   height: 100%;
   background-image: url('fancybox-y.png');
}

#fancybox-bg-nw {
   top: -20px;
   left: -20px;
   background-image: url('fancybox.png');
   background-position: -40px -122px;
}

#fancybox-title {
   font-family: Helvetica;
   font-size: 12px;
   z-index: 1102;
}

.fancybox-title-inside {
   padding-bottom: 10px;
   text-align: center;
   color: #333;
   background: #fff;
   position: relative;
}

.fancybox-title-outside {
   padding-top: 10px;
   color: #fff;
}

.fancybox-title-over {
   position: absolute;
   bottom: 0;
   left: 0;
   color: #fff;
   text-align: left;
}

#fancybox-title-over {
   padding: 10px;
   background-image: url('fancy_title_over.png');
   display: block;
}

.fancybox-title-float {
   position: absolute;
   left: 0;
   bottom: -20px;
   height: 32px;
}

#fancybox-title-float-wrap {
   border: none;
   border-collapse: collapse;
   width: auto;
   td {
      border: none;
      white-space: nowrap;
   }
}

#fancybox-title-float-left {
   padding: 0 0 0 15px;
   background: url('fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
   color: #fff;
   line-height: 29px;
   font-weight: bold;
   padding: 0 0 3px 0;
   background: url('fancybox-x.png') 0 -40px;
}

#fancybox-title-float-right {
   padding: 0 0 0 15px;
   background: url('fancybox.png') -55px -90px no-repeat;
}

html,
body {
   height: 100%;
   margin: 0;
   padding: 0;
   font: 13px/18px Arial, sans-serif;
   color: black;
   background: url(/img/logo/logofon.jpg) repeat center fixed;
}

a {
   outline: 0;
   color: gray;
   &:hover {
      color: #000097;
   }
}

img {
   border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: normal;
   color: #090;
}

h1 {
   margin: 0 0 1em;
   font-size: 25px;
   line-height: 92%;
}

h2 {
   margin: 35px 0 17px;
   font-size: 153%;
   line-height: 111%;
   strong {
      font-weight: normal;
   }
}

h3 {
   font-size: 127%;
}

li {
   margin: 0 0 11px;
}

table {
   border-collapse: collapse;
}

.left {
   float: left;
}

.right {
   float: right;
}

.clear {
   clear: both;
}

#page_wraper {
   min-width: 920px;
   max-width: 1440px;
   height: 100%;
   margin: 0 auto;
   padding: 0 30px;
}

#header_content {
   min-height: 100%;
   position: relative;
}

#header {
   height: 100px;
   position: relative;
   min-width: 985px;
}

a#index_href {
   position: absolute;
   top: 10px;
   padding-bottom: 24px;
   z-index: 3;
}

#title {
   width: 100%;
   position: absolute;
   top: 114px;
   padding: 0 0 0 25px;
   text-align: center;
   z-index: 2;
}

#contacts_block {
   position: absolute;
   top: 14px;
   right: 0;
   text-align: right;
   z-index: 2;
   a {
      font-size: 88%;
      color: #fff;
   }
   #phone {
      margin-top: 8px;
      font-size: 218%;
      line-height: 89%;
      color: #090;
      span {
         font-size: 65%;
         -zoom: 1;
         color: #090;
      }
   }
}

#content {
   position: relative;
   padding: 0 0 100px;
   border-top: 1px dotted #090;
   margin-top: 20px;
}

#index #content {
   height: 720px;
   position: relative;
   background: url(/img/body_bg.png) no-repeat center 15px;
}

#flash_bricks_container {
   width: 100%;
   height: 750px;
   position: absolute;
   top: 25px;
   z-index: 1;
}

#flash_bricks {
   outline: 0;
}

#left_nav {
   width: auto;
   position: absolute;
   top: 20px;
   left: 0;
   font-size: 16px;
   z-index: 2;
   li a:hover {
      color: #000097;
   }
   a {
      color: black;
   }
}

#left_nav2 {
   width: 186px;
   position: absolute;
   margin-top: 5px;
   left: 0;
   font-size: 14px;
   z-index: 2;
}

#index {
   #left_nav,
   #left_nav2 {
      top: 150px;
   }
}

ul {
   &#left_menu {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
         margin: 0 0 18px;
         a,
         &#item_02 > a:hover {
            color: #94e7ff;
         }
         a:hover,
         &#item_02.active > a:hover,
         &.active > a {
            color: #fff;
         }
      }
   }
   &#services_menu {
      margin: 18px 0 0;
      padding: 0;
      padding-left: 22px;
      list-style: none;
      li {
         margin: 0 0 16px;
         padding-left: 24px;
         background: url(/img/bullet_green.png) no-repeat 0 3px;
         a {
            line-height: 90%;
            color: black;
         }
      }
   }
}

.color {
   color: #94e7ff;
}

ul {
   &#services_menu li {
      a:hover,
      &.active a {
         color: red;
      }
   }
   &#left_menu li#item_02 ul#services_menu li.active a:hover {
      color: red;
   }
}

#business_structure {
   width: 252px;
   position: absolute;
   top: 194px;
   right: 0;
   font-size: 17px;
   z-index: 2;
   h2 {
      margin: 0 0 14px;
      padding-left: 37px;
      font-size: 141%;
      font-weight: normal;
      color: #fff;
   }
}

.green_bullet,
.blue_bullet {
   height: 38px;
   padding: 6px 0 0 55px;
   line-height: 23px;
   text-indent: -25px;
}

.green_bullet {
   background: url(/img/bullet_green_big.png) no-repeat 0 3px;
}

.blue_bullet {
   background: url(/img/bullet_blue.png) no-repeat 0 3px;
}

#business_structure span {
   padding-right: 3px;
   color: #49b9dd;
}

#text {
   margin: 20px 100px 0 300px;
   color: black;
   min-height: 660px;
}

p {
   &.news_date {
      font-size: 80%;
      margin: 30px 0 0;
      color: black;
   }
   &.news_item {
      margin-top: 3px;
      color: black;
   }
}

#view_all_news {
   margin-top: 40px;
}

#text strong {
   color: #666;
}

ul#text_menu {
   margin-bottom: 35px;
   li.active a {
      color: #fff;
   }
}

#text table {
   max-width: 800px;
   margin-bottom: 15px;
   td,
   th {
      margin: 0;
      font-weight: normal;
   }
   p {
      margin-top: 0;
      color: black;
   }
   strong,
   th {
      font-weight: bold;
      color: black;
   }
   li {
      margin-left: 15px;
   }
   &#registration_price {
      ul {
         padding: 0;
      }
      li {
         margin-left: 55px;
      }
   }
}

#message_form table {
   margin: 10px 0 0 4px;
   padding: 0;
   td {
      padding: 0 0 3px;
      vertical-align: top;
      border: 0;
      &.label {
         padding: 0 9px 0 0;
         text-align: right;
      }
      &.input_field {
         input {
            width: 253px;
            height: 20px;
            border: 1px solid #48b9db;
         }
         textarea {
            width: 253px;
            height: 20px;
            border: 1px solid #48b9db;
            height: 84px;
            font-family: Arial, sans-serif;
            font-size: 89%;
         }
      }
      &#send_btn {
         padding: 5px 0 0;
      }
   }
}

#footer {
   height: 50px;
   position: relative;
   margin: -120px 0 0;
   padding: 50px 0 0;
   color: black;
}

#counter {
   position: absolute;
   top: 43px;
   left: 0;
}

#social_net {
   position: absolute;
   left: 600px;
   margin-top: 9px;
}

.twitter {
   position: absolute;
   margin-top: -10px;
   margin-left: -60px;
}

#copyright {
   float: left;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
}

* html #header_content {
   height: 100%;
}

blockquote {
   width: 200px;
   margin: 5px 0 5px 15px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   padding: 5px 0;
   border: 3px double #8fd400;
   border-width: 3px 0;
   font-size: 1.1em;
   text-align: center;
   float: right;
   color: gray;
}

.block2 {
   margin: 0 30px 15px 30px;
   padding: 0 0 0 10px;
   font-size: 1.1em;
   font-family: Georgia, 'Times New Roman', Times, serif;
   border-left: 3px double #8fd400;
   color: gray;
}

.counters {
   position: absolute;
   left: -1000px;
   top: 0;
}

.news_img {
   padding: 0 8px 0 0;
}

.kroski {
   margin-bottom: 20px;
   margin-left: 2px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
}

.banners {
   color: black;
   margin-top: 35px;
   position: relative;
}

.slogan {
   position: absolute;
   margin-left: 340px;
   top: 25px;
}

.news_block {
   margin-top: 55px;
}

.date {
   color: gray;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
}

.zag_staff {
   color: #069;
   font-weight: bold;
}

.class_x {
   font-size: 12px;
   color: black;
   a,
   li a {
      font-size: 12px;
      color: black;
   }
}

.color_link {
   color: black;
   text-decoration: none;
}

a:hover.color_link {
   color: black;
   text-decoration: underline;
}

.form_tako {
   width: 300px;
}

#error {
   color: red;
   margin-bottom: 10px;
}

.font_zag {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
}

.bottom_menu {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   margin-left: 50px;
   color: gray;
}
